<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/component.css">
</head>
<body id="login-bk">
    <div id="main">
        <div class="center">
            <div id="user-face"></div>
            <div id="user-name">disordia profaneden</div>
            <div id="login-pass-area">
                <input id="login-pass" class="common-input" type="password">
            </div><div class="head-btn" id="login-div"></div>
        </div>
    </div>
</body>
</html>