<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script>

    </script>
</head>
<body>
<div id="desktop">
    <!--<div class="window-container">-->
        <!--<div class="window-title-bar">-->
            <!--<div class="window-caption">-->
                <!--<div class="window-title-image" draggable="false"/>-->
                <!--<label>undefined</label>-->
            <!--</div>-->

            <!--<div class="commonBtn minWindowBtn"></div>-->
            <!--<div class="commonBtn maxWindowBtn"></div>-->
            <!--<div class="commonBtn closeBtn"></div>-->
        <!--</div>-->
        <!--<div class="window-content">-->
            <!--<iframe src="https://www.baidu.com"></iframe>-->
        <!--</div>-->

    <!--</div>-->
    <ul id="desk-items-ul"></ul>
        <div class="window-container" style="margin-left: 10px;margin-top: 10px">
            <div class="window-title-bar" draggable="false">
                <div class="window-caption" draggable="false">
                    <div class="window-title-image" draggable="false"></div>
                    <label class="window-title-caption"  draggable="false">undefined</label>
                </div>
                <div class="commonBtn windowBarBtn minWindowBtn"></div>
                <div class="commonBtn windowBarBtn maxWindowBtn"></div>
                <div class="commonBtn windowBarBtn closeBtn"></div>
            </div>
            <div class="window-content">
                <iframe></iframe>
            </div>
            <div class="b window-resize-bar"></div>
            <div class="t window-resize-bar"></div>
            <div class="r window-resize-bar"></div>
            <div class="l window-resize-bar"></div>
            <div class="lt window-resize-bar"></div>
            <div class="rt window-resize-bar"></div>
            <div class="lb window-resize-bar"></div>
            <div class="rb window-resize-bar"></div>
        </div>

</div>

<script>
</script>

</body>
</html>